@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
@font-face {
  font-family: 'os-luizi'; /*Can be any text*/
  src: local('os_luizi_round-ffc-web'),
    url('./fonts/os_luizi_round-ffc-web.woff') format('truetype');
}
@font-face {
  font-family: 'pilkahol'; /*Can be any text*/
  src: local('FtPilKahol-1.00-400-Regular'),
    url('./fonts/FtPilKahol-1.00-400-Regular.otf') format('truetype');
}
* {
  font-family: 'os_luizi';
  margin: 0;
}
input {
  color: #6097bf;
}
input:focus {
  outline: none;
  opacity: 0.9;
}
img {
  object-fit: cover !important;
}

html {
  font-size: 18px;
}
@media only screen and (max-width: 1366px) {
  html {
    font-size: 14px;
  } 
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 11px;
  } 
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 7px;
  } 
}
