#ChatContainer {
    background-color: blue;
    width:20vw;
    height:60vh;
    position: fixed;
    bottom:0; 
    right:0;
    z-index:100;
}

#Messages_Container {
    height:46vh;
    width:20vw;
    background-color: #99d6ff;
    position:relative;
}

#TopContainer {
    height:4vh;
    width:20vw;
    position:relative;
    background-color: #99d6ff;
    border-bottom:3px #E5E5E5;
}

#CancelContainer {
    position:absolute;
    width:8px;
    height:8px;
    top:0px;
    right:4px;
}

#CancelContainer:hover {
    cursor:pointer;
}

#CancelImg {
    width:8px;
    height:8px;
}

#Chat_Input {
    background-color: white;
    width:18vw;
    height:10vh;
    margin-right:1vw;

    margin-left:1vw;
    
}

.HisSpeech {
    float:left;
    
}


.MySpeech {
    float:right;
    position:relative
}

.HisSpeechText {
    background-color: #E4E6EB;
    padding: 4px 4px 4px 4px;
    border-radius: 20%;
}

.MySpeechText {
    background-color: #0084FF;
    padding: 4px 4px 4px 4px;
    color:white;
    border-radius: 20%;
}