.product-main {
    margin: 0 20px;
    width: 200px;
    border-radius: 16px;
    background-color: #fff;
    margin-bottom: 24px;
}
.product-main .image-container {
    width: 200px;
    height: 178px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-main .header-line  {
    display: flex;
    color: #000;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    justify-content: center;
    margin-top: 16px;
}
.product-main .title {
    color: #000;
}
.product-main .price {
    direction: rtl;
}
.product-main .separator {
    margin: 0 8px;
}
.product-main .text {        
    height: 60px;
    font-size: 14px;
    text-align: center;
    color:#6097BF;
    margin: 12px 20px;
    overflow: hidden;
}

.quantity-line {
    display: flex;
    justify-content: center;
}
.product-main .quantity-text {
    direction: rtl;
}
.product-main .quantity-input {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.product-main .quantity-button {
    width: 12px;
    height: 22px;
    margin: 0 4px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.product-main.quantity-num {}

.submit-container {
    display: flex;
    justify-content: center;
    margin: 8px 0 16px;
}