<!DOCTYPE html>
<html>
  <head>
    <title>Places Search Box</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./index.js"></script>
  </head>
  <body>
	
	<button id="btn" onclick="handleClick()">קבע את מיקום הקבר</button>
	
    <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="היכן ממוקם הקבר?"
    />
	
	
	//צריך לשנות את הכתובת של הראוט על ידי קבלת הid של הפרופיל
	<form action="/graveLocation/:id" method="post">
	<input type="hidden" value="" id="location">
	<input type="submit">
	</form>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  </body>
</html>