.footer {
  height: 100px;
  color: #6097bf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding: 0 40px;
}
.footer img {
  cursor: pointer;
  width: 15rem;
}
.footer-links a {
  transition: ease-in-out 1s;
}
.footer-links a:hover{
  color: #dcecf4;
}
.line-seperator {
 padding: 0.5rem;
}

a {
  text-decoration: none;
  color: #6097bf;
}
.footer-links {
  font-size: 18px;
}
.c-rights-reserved {
  font-size: 18px;
}
.footer-logo-container {
  width: 315px;
}